.container {
    background-color: #f8f9fa; /* Gris claro */
    padding: 20px;
    border-radius: 8px;
  }
  

  .title-container {
    margin-bottom: 20px;
  }
  
  .title-container h2 {
    color: #ff6600; 
    font-weight: bold;
  }
  
   .table {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
  }
  
  .table thead th {
    background-color: #ff6600; 
    color: #ffffff;
  }
  
  .table tbody tr {
    transition: background-color 0.3s;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .table tbody td {
    vertical-align: middle;
  }
  
  .form-control {
    max-width: 80px;
    margin: auto;
    text-align: center;
  }
  
  .total-container, .subtotal-container, .igv-container {
    margin-top: 10px;
  }
  
  .total-container h4, .subtotal-container h4, .igv-container h4 {
    color: #ff6600; 
    font-weight: bold;
    text-align: right;
  }
  