.menu {
  background-color: white;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
} 

.menu li {
  margin: 10px 20px; 
  color: orangered;
  font-size: 18px;
  position: relative;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: orange;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.menu a:hover {
  background-color: aqua;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .menu ul {
    flex-direction: column; 
    align-items: center; 
  }

  .menu li {
    margin: 10px 0; 
  }
} 
