.title-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .title-container h2 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .product-image {
    width: 500px;
    height: 250px;
    object-fit: cover; 
    transition: transform 0.3s ease, border-radius 0.3s ease; /* Transiciones suaves para transform y border-radius */
  }

  .product-image:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el cursor */
    border-radius: 50%; /* Cambia el border-radius al 50% en hover */
  }